@keyframes wave-front {
	100% {
		transform: translate(-50%, 0);
	}
}
@keyframes wave-back {
	100% {
		transform: translate(50%, 0);
	}
}
@keyframes wave-fill {
	100% {
		top: -120px;
	}
}

.loading-screen{
	display: block;
	position: fixed;
	z-index: 99999999999999999999999999;
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	top: 0;
	left: 0;
}

.loading-screen .box #logo img.loading-image{
	width: 100%;
}

.loading-screen .box {
	height: 118px;
	width: 306px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background: #1b1b1b; */
	/* border-radius: 100%; */
	overflow: hidden;
}
/* line 35, sass/loading.scss */
.loading-screen .box #logo {
	z-index: 10;
	position: relative;
}
/* line 39, sass/loading.scss */
.loading-screen .box .percent {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 30px;
}
/* line 54, sass/loading.scss */
.loading-screen .box .water {
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: translate(0, 100%);
	background: #2bd3f4;
	animation: wave-fill 5s infinite linear;
}
/* line 63, sass/loading.scss */
.loading-screen .box .water_wave {
	width: 200%;
	position: absolute;
	bottom: 98%;
	height: 25px;
}
/* line 67, sass/loading.scss */
.loading-screen .box .water_wave_back {
	right: 0;
	fill: #1a9ab3;
	animation: wave-back 1.4s infinite linear;
}
/* line 72, sass/loading.scss */
.loading-screen .box .water_wave_front {
	left: 0;
	fill: #2bd3f4;
	margin-bottom: -1px;
	animation: wave-front .7s infinite linear;
}